.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px; 40px;
    width: 100%;
    max-width: 1200px;
    background-color: var(--bg-dark);
    accent-color: var(--text-white);
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__logo--image {
    width: 150px;
    heigt: auto;

}

.nav {
    flex-grow: 1;
    margin left: 40;

}

.nav__list {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;

}

.nav__item {
    position: relative;

}

.nav__link {
    color: var(--text-white);
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    transition: color 0.3s;
}

.nav__link:hover {
    color: var(--accent-color);
}

.social {
    display: flex;
    gap: 15px;
}

.social__icon {
    color: var(--accent-color);
    font-size: 18px;
    text-decoration: none;
    transition: opacity 0.3s;
}

/* Adaptive Navigation Menu */

@media (max-width: 899px) {
    .header {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
        width: 100vw;
        height: 100dvh;
        background-color: var(--text-white);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        transform: translateX(100%);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .header.is-opened {
        transform: translateX(0);
        opacity: 1;
    }

    .nav__list {
        flex-direction: column;
        gap: 10px;
    }

    .nav__link {
        color: var(--bg-dark);
        font-size: 18px;
    }

    .social {
        margin-top: 20px;
    }
}
